@font-face {
  font-family: "iconfont"; /* Project id 3787053 */
  src: url('iconfont.woff2?t=1669129878556') format('woff2'),
       url('iconfont.woff?t=1669129878556') format('woff'),
       url('iconfont.ttf?t=1669129878556') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaoqian:before {
  content: "\e742";
}

.icon-liebiao:before {
  content: "\e62a";
}

.icon-fenlei:before {
  content: "\e603";
}

.icon-sousuo:before {
  content: "\e626";
}

.icon-shouye:before {
  content: "\e759";
}

.icon-guidang:before {
  content: "\eca6";
}

.icon-wenzhang:before {
  content: "\ecb3";
}

.icon-guanyu:before {
  content: "\e694";
}

